<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

   
    
    
    <Resource auth="Container"
    driverClassNmae="oracle.jdbc.OracleDriver" 
    loginTimeout="10" 
    maxActive="50" 
    maxIdle="20" 
    maxWait="2000" 
    name="jdbc/oracle"  
    password="jsp123" 
    testOnBorrow="true" 
    type="javax.sql.DataSource" 
    url="jdbc:oracle:thin:@localhost:1521:xe"
    factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory" 
    username="c##JSPUSER"/>
    
    
    
  
</Context>