<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<!--  임의의 이름을 만들어 준다. -->
  	<servlet-name> myServlet </servlet-name>
  	
  	<!--  클래스 파일 명을 패키지 명을 포함하여 전체이름을 정확하게 입력 -->
  	<servlet-class> com.java.servlet.Servlet01 </servlet-class>
  
  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	
  	<url-pattern> /helloServlet </url-pattern>
  
  </servlet-mapping>
  
  
  
</web-app>