<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<!--  임의의 이름을 만들어 준다. -->
  	<servlet-name> myServlet </servlet-name>
  	
  	<!--  클래스 파일 명을 패키지 명을 포함하여 전체이름을 정확하게 입력 -->
  	<servlet-class> com.java.servlet.Servlet01 </servlet-class>
  
  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	
  	<url-pattern> /helloServlet </url-pattern>
  
  </servlet-mapping>
  
  
  
  
  <servlet>
  	
  	<servlet-name> myServlet2 </servlet-name>
  	
  	
  	<servlet-class> com.java.servlet.Servlet08 </servlet-class>
  	<!-- 초기화 파라미터는 servlet 태그안에 위치해야 한다.  이 서블렛에서만 사용가능-->
  	<init-param>
  		<param-name> id </param-name>
  		<param-value> hong </param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name> pwd </param-name>
  		<param-value> 1234 </param-value>
  	</init-param>
  	
  </servlet>
  
  
  <servlet-mapping>
  
  	<servlet-name>myServlet2</servlet-name>
  	
  	<url-pattern> /initParam </url-pattern>
  
  </servlet-mapping>
  
  
  <!-- 여러 서블랫에서 공유해서 사용하는 context-param -->
  
  <context-param>
  	
  	<param-name> name </param-name>
  	
  	<param-value> 홍길동 </param-value>
  
  </context-param>
  
  <context-param>
  	
  	<param-name> age </param-name>
  	
  	<param-value> 20 </param-value>
  
  </context-param>
  
  
  
  
  
  
  
  
</web-app>